<%- include('header') -%>
        <main class='mainContent'>
        <h1>home</h1>
        <p> <%= content %></p>
        <div class="separator"></div>
        <div class="otherPosts">
                <% posts.forEach(function (post) { %>
                <h3><%= post.heading %></h3>
                <p class='otherPost'> <%= post.body %> <a href="http://"></a></p>

                <% }); %>
        </div>
        <script src="" async defer></script>
        </main>
    <%- include('footer') -%>
    